
/* general styles */

#mediaIndexContentTable{
    width:60%;
}

p{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 2% 0%;
}
.panel{
    margin: 5px 0px;
}

div.container {
    max-width: inherit;
}

@media (max-width: 1200px) {
    label{
        font-size: 36px;
    }
}
/* general styles */





/* displayPanel styles */

#mediaIndexContent table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#mediaIndexContent td, #mediaIndexContent th {
    border: 1px solid #ddd;
    padding: 8px;
}

#mediaIndexContent th {
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: left; */
    background-color: #000000;
    color: white;
}

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}

/* displayPanel styles */





/* inputPanel styles */

* {
    box-sizing: border-box;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 5px 5px 5px 0px;
    display: inline-block;
}

button.btn{
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button.main-button:hover {
    background-color: #00000091;
    color: #000000;
}

button.main-button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 12px 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.row > button {
    width: auto;
}

input { 
    max-width: 100%
}

.inputForm > .row {
    margin: 10px -10px;
}

/* inputPanel styles */





/* button styles */

.btn {
    background-color: black; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: grey;
    color: #000000; 
} 

/* button styles */



/* modal styles */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    margin: 5px;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-footer{
    padding: 15px;
}
  
/* modal styles */



/* triggerPanel styles */

#runMediaGrabResponsePanel {
    float: right;
    padding: 20px;
}

#runMediaGrabButton{
    float: left;
}

.loader {
    border: 10px solid #595656;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    float: left;
    margin: 10px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* triggerPanel styles */


/* blacklistPanel/recommendationPanel styles */

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.blacklistPanelColumn, .recommendationPanelColumn {
    float: left;
    padding: 10px;
}

.blacklistPanelColumn .btn, .recommendationPanelColumn .btn{
    float: right;
    margin: 1px;
}

/* Clear floats after the columns */
#blacklistPanel:after, #recommendationPanel:after{
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .blacklistPanelColumn, .recommendationPanelColumn {
        width: 100%;
    }
}

#blacklistTermRemoveButton, #recommendationAddButton {
    margin: 5px 10px;
    padding:0px 4px 0px 3px; 
    float:left; 
    font-size: 16px;
}

td.accordion-panel{
    max-width:400px;
}

/* blacklistPanel/recommendationPanel styles */


/* titlePanel styles */

#titlePanel{
    margin: 10px;
}

#titlePanel > h1{
    text-align:center;
}

/* titlePanel styles */


/* accordion styles */

// .accordion {
//   width: 350px;
// }

.accordion-collapse:not(.show){
  width:50px;
}

.accordion-collapse.show{
  width:100%;
}

.accordion-button{
  width:60px;
}

.accordion-item, .accordion-header{
    width: fit-content;
}

.accordion-header{
    margin: 0 auto;
}

/* accordion styles */