
/* general styles */

p{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 2% 0%;
}
.panel{
    margin: 5px 0px;
}

div.container {
    max-width: inherit;
}

@media (max-width: 1200px) {
    label{
        font-size: 36px;
    }
}


body {
    background-color: black;
}

h2 {
    color: white;
}

/* general styles */


/* displayPanel styles */

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}

#displayPanel ul {
    list-style: none;
}

#displayPanel {
    background-color: black;
}

#monthPerformanceChartContainer, #yearPerformanceChartContainer {
    background-color: black;
    border:1px solid white;
    border-radius: 15px;

}

.dataPanel {
    color: white;
}

/* displayPanel styles */


/* inputPanel styles */

* {
    box-sizing: border-box;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 5px 5px 5px 0px;
    display: inline-block;
}

button.btn{
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button.main-button:hover {
    background-color: #00000091;
    color: #000000;
}

button.main-button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 12px 20px;
}

/* inputPanel styles */

/* button styles */

.btn {
    background-color: white; /* white background */
    border: none; /* Remove borders */
    color: black; /* Black text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: grey;
    color: #000000; 
} 

/* button styles */




/* triggerPanel styles */

#triggerPanel {
    background-color: black;
    border:1px solid white;
    border-radius: 15px;
    margin-top: 70px;
}

#runInvestmentBalancerButton {
    background-color: white;
    color:black
}

/* triggerPanel styles */


/* titlePanel styles */

#titlePanel{
    margin: 10px;
    color: white;
}

#titlePanel > h1{
    text-align:center;
}

/* titlePanel styles */

