<!DOCTYPE html>
<html>

<head>
	<title>Etfbot control panel</title>
	<meta charset=utf-8>
	<link rel="stylesheet" href="/public/css/index.css">
	<link rel="icon" href="/favicon.ico">

</head>

<body>
	<div id="titlePanel">
		<h1>Etfbot control panel</h1>
	</div>

	<div id="pageContent" class="container">
		<div class="row">
			<div class="col-lg-8">
				<div id="displayPanel">
					<div id="chartPanel" class="panel">
						<h2>Stock performance:</h2>
						<div id="monthPerformanceChartContainer">
							<canvas id="monthPerformanceChart"></canvas>
							<ul class="dataPanel">
								<li v-for="message in monthPerformanceChartDataPanelMessages">
									{{ message }}
								</li>
							</ul>
						</div>
						<div id="yearPerformanceChartContainer">
							<canvas id="yearPerformanceChart"></canvas>
							<ul class="dataPanel">
								<li v-for="message in yearPerformanceChartDataPanelMessages">
									{{ message }}
								</li>
							</ul>
						</div>
					</div>
					<div id="transactionPanel" class="panel">
						<h2>Transaction Info:</h2>
						<div id="transactionContainer">
							<div class="row" v-show="orderDataSelectedSymbol!='all'">
								<canvas id="stockBuySellChart"></canvas>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<select class="form-control" @change="updateOrderDataSelectedSymbol()" v-model="orderDataSelectedSymbol">
										<option value="all" selected>all</option>
										<option v-for="symbol in symbols" :value="symbol" :key="symbol">{{ symbol }}</option>
									</select>
								</div>
								<div class="col-lg-3">
									Total capital gains liability: {{ totalCapitalGainsLiability }}
								</div>
								<label id="taxYearLabel" class="col-lg-2" for="taxYears">Tax year:</label>
								<div class="col-lg-3">
									<select class="form-control" @change="updateSymbolOrderInfo($event)">
										<option v-for="taxYearLabel in availableTaxYears" :value="taxYearLabel" :key="taxYearLabel">{{ taxYearLabel }}</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-8">
									<div class="accordion">
										<div class="accordion-item">
											<h2 class="accordion-header">
												<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#transactionAccordionCollapsePanel" aria-expanded="true" aria-controls="transactionAccordionCollapsePanel">
													Order details
												</button>
											</h2>
											<div id="transactionAccordionCollapsePanel" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<ul class="dataPanel">
														<li v-for="message in orderDataProfitLossMessages">
															{{ message }}
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div id="triggerPanel" class="container panel panel-default">
					<div class="row panel-body">
						<div :class="spinnerParentClass">
							<button class="btn btn-light" id="runInvestmentBalancerButton" type="button" @click="runInvestmentBalancer">Run investment balancer</button>
							<span class="loader" v-if="running"></span>
						</div>
						<div class="col-sm">
							<p id="runInvestmentBalancerPanel">{{ responseMessage }}</p>
						</div>
					</div>
					<div class="row panel-body">
						<div class="col-sm-12" id="runInvestmentBalancerLogsPanel">
							<p v-for="log in outputLogs">
							  {{ log }}
							</p>
						</div>
					</div>
				</div>

				<div id="excludeListPanel" class="container panel panel-default custom-panel">
					<h2>Exclude list:</h2>
					<div class="row" id="excludeListAddItemRow">
						<div class="col-sm-4">
							<input type="text" v-model="newExcludeListStockSymbol" id="excludeListAddItemTextBox"/>
						</div>
						<div class="col-sm-4">
							<select id="excludeReasonSelector" v-model="excludeReason">
								<option value="immoral">Immoral</option>
								<option value="oil">Oil</option>
							</select>
						</div>
						<div class="col-sm-4">
							<button id="addButton" class="btn btn-light" type="button" @click="addExcludeListItem">Add</button>
						</div>
					</div>
					<div id="excludeListContainer">
						<ul class="dataPanel">
							<li v-for="stock in stocks">
								<button id="excludeListTermRemoveButton" class="btn btn-light" i
									@click="() => { removeExcludeListItem({stock}); }"><i
										class="fa fa-close"></i></button>
								<label>
									{{ stock["symbol"] }} - {{ stock["companyName"] }} ({{ stock["reason"] }})
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div id="logListPanel" class="container panel panel-default custom-panel">
					<h2>Log list:</h2>
					<div id="logListContainer">
						<ul class="dataPanel">
							<li v-for="logFileName in logFileNameList">
								<a v-bind:href="'/logs/'+ logFileName">{{logFileName}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- script references -->
	<script type="text/javascript" src=/public/js/index.js></script>
</body>

</html>